= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: '名前'
    = f.input :price, label: '値段'
    = f.input :released_on
    = f.input :rating, collection: 1..5, as: :radio_buttons, item_wrapper_class: "inline"
    = f.input :discontinued
    = f.association :publisher
    = f.association :categories, as: :check_boxes

  .form-actions
    = f.button :submit
